html, body, #map { 
  height: 100vh; 
  width: 100vw; 
}
body {
  padding:0;
  margin:0;
}
.hidden {
  visibility: hidden;
  display: none;
}
#map {
  padding:0px;
  margin:0px;
  /*width:100%;
  height:100%;*/
}
.popup {
  font-size:12px;
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
}
.popup  table {
  font-size:12px;
}
.popup td {
  max-width:120px;
  word-break:break-all;
}
.popup p {
  margin: 5px 5px;
}
h4 {
  margin: 0;
}
.popupinfo {
  margin-right:10px;
  margin-top:10px;
  float:right;
  clear:both;
  position:relative;
  top:100px;
  z-index:8;
  border-radius:5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
#pop_alloc {
  height: 200px;
}
.leaflet-sidebar ul {
  margin: 0px;
  padding-left: 10px; 
}
#sidebar-info, #sidebar-info table{
  font-size:13px;
}
#sidebar-info, #sidebar-setting, #sidebar-rftools {
  padding-left:10px;
  padding-right:10px;
  font-size:13px;
  font-family: "helvetica Neue", arial, helvetica, sans-serif;
}
#info_by
{
  margin-top: 15px;
  border-top: 1px solid gray;
}
#only_as select {
  width:190px;
}
.info-toolbar-a {
  width:36px;
  height:36px;
  background-image:url("images/info.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  color:#0078a8;
}
.setting-toolbar-a {
  width:36px;
  height:36px;
  background-image:url("images/setting.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  color:#0078a8;
}
.rftools-toolbar-a {
  width:36px;
  height:36px;
  background-image:url("images/rf.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  color:#0078a8;
}
.info-toolbar, .setting-toolbar, .rftools-toolbar
{
  background: none repeat scroll 0 0 #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.info-toolbar:hover, .setting-toolbar:hover, .rftools-toolbar:hover
{
    background-color: #F4F4F4;
}
.leaflet-control-permalink
{
  /* display:none;*/
  font-size:12px;
}
.leaflet-control-zoom, .leaflet-control-zoom a
{
  width: 36px;
  background-color: #fff;
}
#sidebar-rftools select, #sidebar-rftools input
{
  font-size: 12px;
  padding: 0;
  max-width: 200px;
}
@media (max-width: 467px) {
  #rf-loading, #rf-result{
    margin-top: -200px; 
    height: 220px;
  }
}
@media (min-width: 468px) {
  #rf-loading, #rf-result{
    margin-top: -220px;
    height: 230px; 
  }
}
#rf-loading, #rf-result
{
  visibility: hidden;
  /*width: 100%;
  padding-left: 10px;
  background-color:#fff;
  position: absolute;
  left: 0;*/
}
#rf-loading {
  font-size: 20px;
}
#rf-result a:hover {
  text-decoration: underline;
}
.side-button
{
  padding:1px 8px 1px 8px; 
  border-radius:3px; 
  border:1px solid #666; 
  cursor:pointer;
}
.side-button:hover
{
  background-color: #ddd;
}
.side-draw-point
{
  background-image: url('images/spritesheet.svg');
  background-position: -127px -6px;
  background-size: 300px 30px;
}
.side-draw-rect
{
  background-image: url('images/spritesheet.svg');
  background-position: -67px -6px;
  background-size: 300px 30px;
}
.side-draw-del-rect 
{
  display: none;
}
#side-draw-del-point1, #side-draw-del-point2, #side-draw-del-rect
{
  display: none;
}
.side-draw-del
{
  background-image: url('images/spritesheet.svg');
  background-position: -187px -6px;
  background-size: 300px 30px;
  margin-left: 2px;
}
.leaflet-draw-tooltip {
  background: rgb(54, 54, 54);
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: -21px;
  padding: 4px 8px;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 6;
}
/***********begin Mouseposition-plugin (Koordinates left bottom)*/
.leaflet-container .leaflet-control-mouseposition {
background-color: rgba(255, 255, 255, 0.7);
box-shadow: 0 0 5px #bbb;
padding: 0 5px;
margin:0;
color: #333;
font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/***********end Mouseposition-plugin */

/***********begin Minimap-plugin*/
.leaflet-control-minimap {
    border:solid rgba(255, 255, 255, 1.0) 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 3px;
    background: #f8f8f9;
    transition: all .2s;
}

.leaflet-control-minimap a {
    background-color: rgba(255, 255, 255, 1.0);
    background-repeat: no-repeat;
    z-index: 99999;
    transition: all .2s;
    border-radius: 3px 0px 0px 0px;
}

.leaflet-control-minimap a.minimized {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 0px;
}

.leaflet-control-minimap-toggle-display {
    background-image: url("images/toggle.png");
    height: 19px;
    width: 19px;
    position: absolute;
    bottom: 0;
    right: 0; 
}

/* Old IE */
.leaflet-oldie .leaflet-control-minimap {
	border: 1px solid #999;
}

.leaflet-oldie .leaflet-control-minimap a {
	background-color: #fff;
}

.leaflet-oldie .leaflet-control-minimap a.minimized {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
/**********end Minimap-plugin*/

/**********start Sidebar-plugin*/
.leaflet-sidebar {
  position: absolute;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2000; }
  .leaflet-sidebar.left {
    left: -500px;
    transition: left 0.5s, width 0.5s;
    padding-right: 0; }
    .leaflet-sidebar.left.visible {
      left: 0; }
  .leaflet-sidebar.right {
    right: -260px;
    transition: right 0.5s, width 0.5s;
    padding-left: 0; }
    .leaflet-sidebar.right.visible {
      right: 0; }
  .leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 1.1em;
    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .leaflet-touch .leaflet-sidebar > .leaflet-control {
      box-shadow: none;
      border: 2px solid rgba(0, 0, 0, 0.2);
      background-clip: padding-box; }
  @media (max-width: 467px) {
    .leaflet-sidebar {
      width: 100%;
      padding: 0; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 100%; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 100%; }
      .leaflet-sidebar.left {
        left: -100%; }
        .leaflet-sidebar.left.visible {
          left: 0; }
      .leaflet-sidebar.right {
        right: -100%; }
        .leaflet-sidebar.right.visible {
          right: 0; }
      .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0; }
        .leaflet-touch .leaflet-sidebar > .leaflet-control {
          border: 0; } }
  @media (min-width: 468px) and (max-width: 991px) {
    .leaflet-sidebar {
      width: 250px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 250px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 250px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar {
      width: 250px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 250px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 250px; } }
  @media (min-width: 1200px) {
    .leaflet-sidebar {
      width: 250px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 250px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 250px; } }
  .leaflet-sidebar .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 31px;
    height: 31px;
    color: #333;
    font-size: 25pt;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 999; }

.leaflet-left {
  transition: left 0.5s; }

.leaflet-right {
  transition: right 0.5s; }
/**********end Sidebar-plugin*/

/********context Menu*/
.leaflet-contextmenu {
    display: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 0;
    background-color: #fff;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
    display: block;
    color: #222;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    padding: 0 4px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: default;
    outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
    opacity: 0.5;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: #f4f4f4;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}


/**********profile popup********/
.popupProfile .leaflet-popup-tip,
.popupProfile .leaflet-popup-content-wrapper {
    background: #ffffff;
    color: #000000;
}
.popupProfile .leaflet-popup-tip-container {
    visibility: hidden;
}
.popupProfile .leaflet-popup-content {
    margin: 20px 0px 0px 0px;
    width: 100%;
}
.popupProfile .leaflet-popup-content input {
    height: 15px;
    padding: 0;
    font-size: 12px;
}
.popupProfile .leaflet-popup-content select {
    font-size: 11px;
    padding: 0;
    margin: 0
}
.popupProfile .leaflet-popup-content p {
    margin: 0;
    padding: 0;
}
#popup-updated {
  padding: 5px 0px 5px 0px;
}
.popup-darg {
  color: #888;
  position: absolute;
  margin-top: -17px;
  margin-left: 10px;
}